.places-list.row
  - @places.each do |place|
    %a.place{:href => "#{place_path(place)}"}
      .content{:class => "col-md-#{(place.photos.size < 3 && 12 - (place.photos.size*2)) || 6}"}
        %span.inner
          %h1= place.name
          %span.desc
            %span.likes
              %i.glyphicon.glyphicon-thumbs-up
              %b= place.likes
            %span.dislikes
              %i.glyphicon.glyphicon-thumbs-down
              %b= place.dislikes
      - place.photos.sample(3).each do |photo|
        .col-md-2
          .thumbnail
            %img{:src => photo.thumbnail_url}



