%form{action: '/search', method: 'post'}
  .search-form.row
    .col-md-10.col-xs-8
      %input.box{type: 'text', name: 'search', :placeholder => "Please type location eg. Manhattan", value: @current_address}
    .col-md-2.col-xs-4
      %button.btn.btn-primary{type: 'submit'} Look for food

  .navigation-form.row
    .col-md-10
      .types
        %label
          %input{name: 'burger', type: 'checkbox', :checked => true}
          Burgers
        %label
          %input{name: 'kebab', type: 'checkbox'}
          Kebabs
        %label
          %input{name: 'pizza', type: 'checkbox'}
          Pizza
        %label
          %input{name: 'other', type: 'checkbox'}
          Other
    .col-md-2
      .row
        .col-xs-4
          -# WARNING H4X
          -# use .btn-success as active state, NOT .active !
          %a.btn{:href => "#{home_path(:map)}", :class => "#{(@display_type == :map && 'btn-success') || 'btn-default'}"}
            %i.glyphicon.glyphicon-globe
        .col-xs-4
          %a.btn{:href => "#{home_path(:mosaic)}", :class => "#{(@display_type == :mosaic && 'btn-success') || 'btn-default'}"}
            %i.glyphicon.glyphicon-picture
        .col-xs-4
          %a.btn{:href => "#{home_path(:list)}", :class => "#{(@display_type == :list && 'btn-success') || 'btn-default'}"}
            %i.glyphicon.glyphicon-th-list

- if flash[:job_id]
  .search-notification{:data => {:job_id => flash[:job_id]}}
    %h1.intense [[ heavy processing intensifies ]]
    %h2 We've never visited your place before so it may take us a moment to process your query. Please, give us a minute.

= render :partial => "home/display/#{@display_type.to_s}"
