.place-info{data: {id: @place.id}}
  .row
    .col-md-12.header
      %h1= @place.name
      %span.desc
        %span.likes
          %i.glyphicon.glyphicon-thumbs-up
          %b= @place.likes
        %span.dislikes
          %i.glyphicon.glyphicon-thumbs-down
          %b= @place.dislikes

  .row
    .mosaic.col-md-8
      .row
        - (@place.photos).each do |photo|
          .place.col-md-4
            %a.thumbnail{:href => "#{photo.url}"}
              %img{:src => photo.lowres_url}
              %span.desc
                %b<>= "@#{photo.username}:"
                &nbsp;
                =photo.description
    .col-md-4
      .box.map
        #place-map
      .box.address
        %span.name
        - @place.address.split(',').each do |part|
          ="#{part}"
          %br
        %a.btn.btn-default.btn-xs#address-info{'data-toggle' => 'tooltip', :title => "We've calculated this address using geographic coordinates which is not exactly an exact science."}<>
          This information may not be accurate
          %i.glyphicon.glyphicon-question-sign