<!DOCTYPE html>
<html>
<head>
  <title>F★★K YEAH FAST FOOD</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<div id="bg"><div id="overlay"></div></div>
	<div id="container">
	  <header>
		  <div class="container">
			  <a href="<%= root_path %>">
			    <h1><b>F</b><span id="f-word"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>K</span> <b>Y</b>EAH <b>F</b>AST <b>F</b>OOD</h1>
			    <h2 class="hidden-xs">Search for delicious Instagram photos of fast foods nearby</h2>
			  </a>
		  </div>
	  </header>

		<div class="container">
		  <%= yield %>
          <%= yield :scripts %>
		</div>

		<div id="push"></div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				  <img src="http://s0.railsrumble.com/rails-rumble-badge-2013.png" alt="Rails Rumble 2013"/>
				</div>
				<div class="col-sm-6">
					<ul class="navigation">
						<li><a href="<%= root_path %>">Home</a></li>
						<li><a href="<%= team_path %>">Team</a></li>
						<li><a href="<%= raq_path %>">RAQ</a></li>
						<li><a href="<%= contact_path %>">Contact</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<!-- Onion Vodka Logo goes here -->
				</div>
			</div>
		</div>
	</footer>
	<!-- Paste this before your front page's </body> tag. -->
	<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
</body>
</html>
